<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="silvino-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `silvino-login`
     * silvino-login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SilvinoLogin extends Polymer.Element {
      static get is() { return 'silvino-login'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'silvino-login'
          }
        };
      }
    }

    window.customElements.define(SilvinoLogin.is, SilvinoLogin);
  </script>
</dom-module>
