<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="silvino-login">
  <template>
    <style>
      :host {
        display: block;
        }
        :host .frmlogin {
          width: 400px;
          margin:50px auto;
          height: 400px;
          border-radius: 8px;
          padding: 0px 9px 0px 9px;
          margin-top: 120px auto;
        }
        :host .datospersonales{
          margin-top: 10px;
          margin-bottom: 10px;  
          font-size: 20px;
          text-align: center;
          color: black;
        }
        :host .datospersonales input{
          padding: 20px;
          border-radius: 12px;
          margin: 20px;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        :host .datospersonales a{
          display: block;
        }
        :host .datospersonales button{
          display: inline-block;
          border-radius: 4px;
          background-color: green;
          border: none;
          color: #FFFFFF;
          text-align: center;
          font-size: 28px;
          padding: 10px;
          width: 200px;
          transition: all 0.5s;
          cursor: pointer;
          margin: 5px;
        }
      </style>
      <template is="dom-if" if="{{escondelogin}}">
          <div class="frmlogin" >
            <div class="datospersonales">
            <form name="frmdatos" on-submit="validacionDatos" >
              <a>Nombre de usuario:</a>
              <input type="text" name="txtnombreusuario" id="txtnombreusuario"  value="{{name::input}}">
              <a>Contraseña:</a>
              <input type="password" name="txtpassword" id="txtpassword" value="{{pass::input}}" >
              <button name="btnsubmit" type="submit">Ingresar</button>
            </form>
          </div>
          </div>
        </template>
  </template>

  <script>
    
    /**
     * `silvino-login`
     * silvino-login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SilvinoLogin extends Polymer.Element {
      static get is() { return 'silvino-login'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'silvino-login'
          },
          name:{
            type: String,
            value: ""
          },
          pass:{
            type: String
          },
          info:{
            type: Boolean,
            value: false,
            notify:true
          },
          escondelogin:{
            type: Boolean,
            value: true
          }
      }
      }
      validacionDatos(event){
      event.preventDefault();      
      var usuario = event.target.txtnombreusuario.value;
      var pass = event.target.txtpassword.value;
      if((usuario == "silvino") && (pass == "12345")){
        // alert("Bienvenido");
        this.set("info",true);
        this.set("escondelogin",false);
      }else{
        alert("Verifica los datos");
      }
    }
    }

    window.customElements.define(SilvinoLogin.is, SilvinoLogin);

  </script>
</dom-module>
